<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All about jobs</title>
</head>
<body>
    <div id="wrap" class="wrap">
        <h1>Job Search</h1>

        <form class="form">
            <fieldset>
                <legend>All about jobs</legend>
                <div class="form__box">
                    <input type="text" class="ipt" placeholder="Enter your Job keywords" required>
                </div>
                <button type="button" class="btn-search">Search</button>
            </fieldset>
        </form>
    </div>
</body>
</html>