<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All about jobs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="wrap" class="wrap wrap--main">
        <header class="header">
            <h1 class="title">All About Jobs 🔍</h1>
        </header>

        <form action="/report" method="get" class="form">
            <fieldset>
                <legend>All about jobs</legend>
                <div class="form__box">
                    <input type="text" name="job_keyword" class="ipt" placeholder="Enter your Job keywords" required>
                </div>

                <input type="submit" class="btn-search" value="Search">
            </fieldset>
        </form>
    </div>
</body>
</html>