<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All about jobs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="wrap" class="wrap">
        <header class="header">
            <h1 class="title">All About Jobs 🔍</h1>
        </header>
        
        <div class="content">
            <section class="section section--result">
                <h2 class="section__title">Searching Result</h2>

                <div class="section__description">
                    You can choose <strong>{{ resultNum }}</strong> jobs for <strong>{{ jobKeyword }}</strong>. 
                    <br>
                    <a href="/export?job_keyword={{ jobKeyword }}" class="link-export">Export to CSV</a>
                </div>
            </section>

            <section class="section section--report">
                <h2 class="section__title">Report</h2>

                <div class="report">
                    {% for job in jobs %}
                    <div class="report__item">
                        <span class="report__company">{{ job.company }}</span>
                        <span class="report__title">{{ job.title }}</span>
                        <a href="{{ job.link }}" target="_blank" class="report__link">Apply</a>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>

        <footer class="footer">
            &copy; copyright 2022 Hychoi py_scrapping.
        </footer>
    </div>
</body>
</html>